
<%- include('./partials/utils.ejs')%> 

<% if (messages.msg) { %>
    <h4 style="color: rgb(40, 82, 6);text-align: center;"><%= messages.msg %>  </h4>
<% } %>

<%- include('./partials/postBody.ejs') %>
       
</div>