<% if (messages.msg) { %>
    <h4 style="color: rgb(40, 82, 6);text-align: center;"><%= messages.msg %>  </h4>
<% } %>

<div class="content">


    <form action='/createPost/' method="POST">
        <h1 style="margin-bottom: 8%;">
            Create a post
        </h1>
        <label> title</label>
        <textarea name='title' rows="2" cols="45" required></textarea>
        <br>
    
        <label> content</label>
        <textarea name="content" rows="10" cols="70" required></textarea>
            
        <br>
    
        <input type="submit" value="CREATE POST">
        <br>
        <hr>
        <a href='/dashboard'>
            Back to dashboard
        </a>
    </form>
    </div>