<% if (messages) { %>
    <h3 style="color: rgb(207, 65, 40);text-align: center;"><%= messages.msg %>  </h3>
<% } %>
<div class="form-container">
   
    
    <div class="form-left">
        

        <div class="form-left-fields">
            
            <h2 style="text-align: center;">
                LOGIN
            </h2>

            <form action="/login" method="POST">
                <ol>
                    <li>
                        <input type="text" name="email" placeholder="enter your email" required>
                    </li>
                    <li>
                        <input type="password" name="pass" placeholder="enter your password" required minlength="5">
                    </li>
                    <li>
                        <input type="submit" value="LOGIN">
                    </li>
                </ol>
                
            </form>
        </div>

    </div>
    <div class="form-right">
        <img src='./partials/login.png'>
    </div>
 

</div>
<h4 style="text-align: center;">
    new here?
    
    <a href='/register'> Register Now </a>
    </a>
</h4>

</form>
