
<div class="singlepost">
    <div class="single-title">
        <p>
            <img src='/partials/user.png' height="50px" width="50px" style="vertical-align: middle;">
            <%= singlePost.author.author_name %> 
        </p>
        <h3>
            <%= singlePost.title %> 
        </h3>
        
    </div>
   
    <div class="title" style="justify-content: center;">
        <p style="text-align: center; word-break: break-all;">
            <%= singlePost.content %> 
        </p>
        
    </div>

     
</div>
<h4 style="text-align: center;">
    <% if (name) { %>
        <a href='/dashboard'> Back to dashboard</a>
    <% } else { %>
        <a href='/'> Back to Home</a>
    <% } %>
        
</h4>  
